@charset "UTF-8";
/* variable */
/* mixin */
/* reset */
body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  clear: inherit;
  text-decoration: inherit;
}

label, button {
  cursor: pointer;
}

label {
  position: absolute;
  left: -9999em;
}

label:focus {
  position: static;
  left: 0;
  top: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #000000;
}

/* main */
body {
  font-family: "맑은고딕", "Malgun Gothic", "apple Gothic", "Apple SD Gothic Neo", Dotum, "돋움", Gulim, "굴림", "Helvetica-Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #000000;
  font-size: 14px;
  background-color: #ffffff;
  margin: 20px;
}

.wrapper {
  border: 1px solid #bbbbbb;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}

.top_nav {
  position: absolute;
  right: 0;
  top: 6px;
}

.top_nav li {
  float: left;
}

.top_nav li + li:before {
  content: "|";
  font-size: 10px;
  color: #bbbbbb;
  font-weight: normal;
}

.top_nav li a {
  font-size: 12px;
  padding: 3px 6px;
  color: #666666;
}

.top_nav li a.on {
  color: #47bbff;
}

.top_nav li a:hover {
  color: #47bbff;
}

ul.article {
  overflow: hidden;
  width: 620px;
}

ul.article li {
  position: relative;
  width: 186px;
  height: 205px;
  overflow: hidden;
  float: left;
  margin: 0 20px 20px 0;
  padding: 12px;
  word-break: break-all;
  border-radius: 5px;
  background: #ffeb35;
  font-size: 18px;
}

ul.article li:nth-of-type(1) > span, ul.article li:nth-of-type(1) .f_view {
  font-family: 'Roboto', sans-serif;
}

ul.article li:nth-of-type(2) > span, ul.article li:nth-of-type(2) .f_view {
  font-family: 'Open Sans', sans-serif;
}

ul.article li:nth-of-type(3) > span, ul.article li:nth-of-type(3) .f_view {
  font-family: 'Merriweather', serif;
}

ul.article li:nth-of-type(4) > span, ul.article li:nth-of-type(4) .f_view {
  font-family: 'Oswald', sans-serif;
}

ul.article li:nth-of-type(5) > span, ul.article li:nth-of-type(5) .f_view {
  font-family: 'Ubuntu', sans-serif;
}

ul.article li:nth-of-type(6) > span, ul.article li:nth-of-type(6) .f_view {
  font-family: 'Fjalla One', sans-seri;
}

ul.article li > em {
  position: absolute;
  display: block;
  bottom: 55px;
  font-size: 14px;
  font-weight: 700;
}

ul.article li .btn_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #e4d32f;
  background: #ffeb35;
}

ul.article li .btn_wrap button {
  float: right;
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #ffffff;
  color: #393939;
  font-weight: 600;
}

/* 모달 */
/* 모달 배경 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* 모달 콘탠츠(Box)*/
.modal_content {
  position: relative;
  background-color: #ffeb35;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 250px;
  overflow: hidden;
}

.modal_content .modal_title {
  font-weight: bold;
}

.modal_content .close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #000000;
  float: right;
  font-size: 25px;
  font-weight: bold;
  font-family: "맑은고딕", "Apple SD Gothic Neo";
}

.modal_content .close:hover, .modal_content .close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modal_content .f_view {
  background: #fefefe;
  border-radius: 5px;
  padding: 20px;
  height: 90px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #000000;
}

.f_size_warp {
  float: left;
  margin-right: 30px;
  widht: 50%;
}

.f_size_warp input[type=range] {
  width: 100px;
}

.f_size_warp .f_size {
  font-size: 12px;
}

.f_color_warp input[type=color] {
  width: 50px;
}

/*# sourceMappingURL=../map/style.css.map */